streamlit
pandas
numpy
plotly
regex 

# Visualization
matplotlib
seaborn

# Time Series Analysis
statsmodels
scipy

# Machine Learning
scikit-learn

# Jupyter Notebooks (if you are using Jupyter)
jupyter


# New packages
requests
beautifulsoup4

pdarima