streamlit
pandas
numpy
plotly
regex 
xgboost

# Visualization
matplotlib
seaborn

# Time Series Analysis
statsmodels
scipy

# Machine Learning
scikit-learn

# Jupyter Notebooks (if you are using Jupyter)
jupyter
googletrans==3.1.0a0

# New packages
requests
beautifulsoup4
spacy
torch
vaderSentiment

pdarima
